#!/bin/bash

set -euo pipefail

NVM_DIR="$HOME/.config/nvm"
PNPM_HOME="$HOME/.local/share/pnpm"

# shellcheck source=/dev/null
. "$NVM_DIR/nvm.sh"

if [ ! -d "$PNPM_HOME" ]; then
  npx get-pnpm
fi

if ! command -v pnpm &> /dev/null; then
  export PATH="$PNPM_HOME/bin:$PATH"
fi

# {{- range .packages.pnpm }}
pnpm add --global --yes {{ . }}
# {{- end }}