{{- warnf "Accessing Bitwarden\n" -}}
{{- $login := (bitwarden "item" "e98e8e79-10f2-4188-8a1f-b36d01283e21").login -}}
username={{ $login.username }}
password={{ $login.password }}
domain=MicrosoftAccount
