# shellcheck shell=bash

# Set vim as the default text editor.
export EDITOR="/usr/bin/vi"

# Set timezone to Regina to show correct time no matter what machine I'm logged into.
export TZ="America/Regina"

# Bitwarden
export SSH_AUTH_SOCK="$HOME/.bitwarden-ssh-agent.sock"
