# shellcheck shell=bash

# Set vim as the default text editor.
export EDITOR=vim

# Don't put duplicate lines or lines starting with space in the history.
export HISTCONTROL=ignoreboth

# For setting history length see HISTSIZE and HISTFILESIZE in bash(1)
export HISTSIZE=1000
export HISTFILESIZE=2000

# Set default language to US English.
export LANG="en_US.UTF-8"

# Set OS related variables.
kernelName="$(uname --kernel-name)"

if [ "$kernelName" == "Linux" ] && [ -e /etc/os-release ]; then
  os="$(. /etc/os-release; echo "$ID")"
else
  os="$kernelName"
fi

export os
unset kernelName

# Set nvm bin.
export NVM_DIR="$HOME/.nvm"
